extends base.pug

block scripts
    script(src='../static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleabout.css

block content 
    section.about
        h2 About Us 
        .cont 
            p <span class="boldtxt">Chitrarth Dance Academy</span> is a premier destination for dance lovers of all ages and skill levels. Founded with a vision to make dance accessible, enjoyable, and professionally enriching, our academy blends tradition with innovation. We offer training in a wide range of dance styles—from classical and folk to contemporary and hip-hop—under the guidance of experienced instructors. Our focus is not just on perfecting technique, but also on building confidence, creativity, and a strong community spirit. Whether you're dancing for fun, fitness, or performance, we provide a welcoming space to express yourself and grow as an artist.
            p If you have any questions, want to know more about our classes, or are ready to join us, feel free to reach out! Just fill out the contact form on our website, and our team will get back to you as soon as possible. We’re here to help you take the first step on your dance journey.

