h1 {
    text-align: center;
    margin: 20px auto;
    color: whitesmoke;
    font-size: 3rem;
}

.success {
    width: 50%;
    margin: 0 auto 20px auto;
    padding: 15px;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(0, 100, 0);
    background-color: rgba(200, 255, 200, 0.85);
    border: 2px solid rgb(0, 100, 0);
    border-radius: 8px;
    font-weight: 600;
}

.fail {
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    padding: 15px;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(180 15 0);
    background-color: rgb(210 100 80 / 85%);
    border: 2px solid rgb(180 15 0);
    border-radius: 8px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px 0;
    background-color: rgba(245, 245, 245, 0.600);
    border: 2px solid rgb(245, 245, 245);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

p {
    font-weight: 800;
    font-size: 1.7rem;
    padding-bottom: 20px;
}

input,
select,
textarea {
    width: 60%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.600);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.850);
}

select {
    width: 63%;
    color: rgba(0, 0, 0, 0.850);
}

select option {
    color: rgb(51, 51, 51);
}

#btn {
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    padding: 12px 15%;
    margin: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s;
}

#btn:hover {
    background-color: rgb(27, 27, 27);
    transform: scale(.96);
}